<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li>
        <p><a href="/polls">A Polls Application</a></p>
      </li>
      <li>
        <p><a href="/hello">Test the session</a></p>
      </li>
      <li>
        <p><a href="/autos">Autos CRUD</a></p>
      </li>
      <li>
        <p><a href="/cats">Cats CRUD</a></p>
      </li>
      <li>
        <p><a href="/stars">Stars CRUD</a></p>
      </li>
      <li>
        <p><a href="/wizards">Wizards CRUD</a></p>
      </li>
    </ul>
  </body>
</html>
